# Common editor swap and backup files
*~
*\#*
*.swp

# Common build output directory
build/

# Managed by npm install
node_modules/

# binki disagrees with including this file especially because it is a
# source of churn.
package-lock.json
